{#
/**
 * @file
 * Hero Banner Front – molecule for the front page hero section.
 *
 * Available config:
 * - eyebrow: Small text above the heading.
 * - heading: Main H1 heading.
 * - description: Supporting paragraph.
 * - main_image:
 *   - src: Image URL used as full background (e.g. /sites/default/files/hero.png).
 *   - alt: Alt text.
 * - background_color: Optional background color.
 *
 * Slots:
 * - cta: Slot for CTA component(s).
 */
#}
{% set base_class = 'hero-banner-front' %}
{% set has_background_image = main_image and main_image.src %}
{% set classes = [base_class, 'js-hero-banner-front'] %}
{% if has_background_image %}
  {% set classes = classes|merge([base_class ~ '--with-image']) %}
{% endif %}
{% set inline_styles = [] %}
{% if background_color %}
  {% set inline_styles = inline_styles|merge(['--hero-banner-front-bg-color: ' ~ background_color ~ ';']) %}
{% endif %}
{% if has_background_image %}
  {% set inline_styles = inline_styles|merge(['--hero-banner-front-bg-image: url(' ~ main_image.src ~ ');']) %}
{% endif %}

<section
  {{ attributes.addClass(classes) }}
  {% if inline_styles %}
    style="{{ inline_styles|join(' ') }}"
  {% endif %}
>
  <div class="{{ base_class }}__inner">
    <div class="{{ base_class }}__content js-hero-banner-front-content">
      {% if eyebrow %}
        <span class="{{ base_class }}__eyebrow">
          <span class="{{ base_class }}__eyebrow-icon" aria-hidden="true"></span>
          {{ eyebrow }}
        </span>
      {% endif %}

      {% if heading %}
        <h1 class="{{ base_class }}__heading">{{ heading }}</h1>
      {% endif %}

      {% if description %}
        <p class="{{ base_class }}__description">{{ description }}</p>
      {% endif %}

      <div class="{{ base_class }}__cta-wrapper">
        {% block cta %}{% endblock %}
      </div>
    </div>
  </div>
</section>
